/* Base Styles */

/* Layout Styles */

/* Block Styles */

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  line-height: 0;
  color: red;
  font-size: 200%;
}

h2 {
  font-weight: 100;
  font-size: 110%;
}

.header_navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav li {
  display: inline-block;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 0;
  text-decoration: underline;
}

.blue-button,
.signup-form {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
}

/* Desktop Styles */
@media (min-width: 550px) {
}

@media (min-width: 650px) {
}
